 
.ui-small-flat-cards{
    position: relative; 
    cursor: pointer;
    display: flex;
    gap: 13px;
    align-items: center;
    border-bottom: 1px solid rgb(219, 210, 210); 
    padding-bottom: 4px;
    overflow: hidden; 
    

    span{
        position: absolute;
        top: 6px;
        left: 6px;  
        color: white;
    }   
 
    .ui-small-flat-cards-img{
        flex: 2;
        height: 100%;
        max-height: 73px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .ui-small-flat-cards-items{
        flex: 6;
        height: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        gap: 3px;
        padding: 2px 4px 2px 0px;

        aside{
            display: flex;
            align-items: center;
            gap: 4px;
            justify-content: space-between;
        
            div{
                
                h6{
                    display: inline-flex;
                    font-weight: 400;
                    font-size: 0.85em;
                    color: rgb(152, 152, 224);
                }
            }
            p{
                font-size: 0.8em;
                font-weight: 500;

            }
        }
    }
   
}



@media only screen and (max-width: 900px) {
    .ui-small-flat-cards{
         
     
        .ui-small-flat-cards-img{
            flex: 2.4; 
        }
        
        .ui-small-flat-cards-items{ 
            gap: 1px;
    
            aside{ 
                p{
                    font-size: 0.7em;
                    font-weight: 500;
    
                }
            }
            p{
                font-size: 0.85em;
            }
            
        }
       
    }
}