.app-message-notification{
    h4{
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 500;
        color: #0D1A2F;
    }
    p{
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 300;
    }
}

.app-alert-notification{
    h4{
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 500;
        color: rgb(151, 0, 0);
    }
    p{
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 300;
    } 
}