

   

  .fallback-spinner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    gap: 25px;

    .loading{
        size: 0.9;
    }
    img{
        width: 150px;
        height: 100px;
        object-fit: contain;
    }
  }