#parent-loader{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px); 

    color: white;
    &:focus{
        outline: none;
    }
}

#parent-alert-message{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px); 

    color: white;
    &:focus{
        outline: none;
    }
}