#header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    //margin: 20px 25px;
    box-shadow: 0px 0px 10px rgb(61, 58, 58); 
    backdrop-filter: blur(4px);
    background: rgb(22,31,51);
    background: linear-gradient(128deg, rgba(22,31,51,1) 0%, rgba(22,31,51,0.85) 100%);
    overflow: hidden;
    padding: 14px 27px;

    
    .header-left{
        display: flex;
        align-items: center;
        gap: 24px;

        .header-left-1{
            div{
                background-color: rgb(13,27,48);
                width: 36px;
                height: 36px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 2px solid rgb(185, 185, 185);
                span{
                    cursor: pointer;
                    zoom: 0.8;
                    color: #fff;
                    transform: translateY(2px);
                }
            }
        }

       
    }
    .header-right{
        display: flex;
        align-items: center;
        gap: 14px;

        .header-right-1{
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            backdrop-filter: blur(26px);
            background-color: rgba(255, 255, 255, 0.87);
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 14px 27px;

            aside{
                zoom: 1.4;
                cursor: pointer;
            }
            input{
                border:none;
                border-bottom: 1px solid rgba(2, 2, 2, 0.808);
                min-width: 300px;
                background-color: transparent;
                
            }
        }
        .header-right-1-collapsed{
            display: flex;
            gap: 9px;
            align-items: center;
            padding: 0px 78px 3px 12px;
            border-radius: 100em; 
            border: 1.4px solid rgba(255, 255, 255, 0.363);
            &:hover{
                cursor: pointer;
                 box-shadow: 0px 0px 3px rgb(0, 0, 0);

            }
            aside{
                transform: translateY(3px);
                color: rgb(255, 255, 255);
            }
            p{
                font-size: 13px;
                color: rgb(255, 255, 255);
            }
        }

        .header-right-3{
            margin-left: 20px;

            div{
                cursor: pointer;
                h5{
                    cursor: pointer;
                    font-size: 16px;
                    color: #fff;
                }
    
                span{
                    color: white;
                    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: rgb(105, 96, 96);
                    font-size: 0.9em;
                }

                display: flex;
                align-items: center;
                gap: 12px;
                img{
                    width: 31px;
                    height: 31px;
                    border-radius: 20px;
                    object-fit: cover;
                    border: 2px solid rgb(196, 196, 196);
                }

                h4{
                    font-size: 13px;
                    font-weight: 500;
                    color: rgb(255, 255, 255);
                    
                }
            }
            
         
        }
    }

   
    .header-left-drop-menus{
        transition: all 0.3s linear;
        border-radius: 0.2em; 
        border: 1.3px solid #ffffff25;
        //background: linear-gradient(90deg, rgba(13,27,48,1) 0%, rgba(13,27,48,0.9) 100%);
        color: #ffffff;
        cursor: pointer;
        div{
            display: flex;
            gap: 10px;
            align-items: baseline;
            padding: 0px 12px 3px; 
          //  box-shadow: 0px 0px 2px rgb(83, 79, 79);
            
            aside{

            }
            p{
                font-size: 14px;
                font-weight: 300;
            }
        }

         
    }


     .header-left-drop-menus-1{
        transition: all 0.3s linear;
        border-radius: 0.2em;
        //background-color: #fff;
        color: #fff;
        cursor: pointer;
        div{
            display: flex;
            gap: 7px;
            align-items: baseline;
            padding: 0px 12px 3px; 
          //  box-shadow: 0px 0px 2px rgb(83, 79, 79);
            
            aside{
            color: rgb(13,27,48);
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: rgb(13,27,48);

            }
        }

         
    }
}














@media only screen and (max-width: 900px) {
      
    #header{  
        padding: 9px 16px;
    
        
        .header-left{ 
            gap: 18px; 
        }
        .header-right{ 
            gap: 18px;

            .header-right-1{ 
                input{ 
                    min-width: 70vw;    
                }
            }
            .header-right-1-collapsed{  
                padding: 3px 8px;
                border-radius: 20px; 
                p{
                   display: none;
                }
            }
    
            .header-right-3{
                margin-left: 0px; 

                div{
                    h4{
                        display: none;
                    }
                }
            }
        }
    
       
        .header-left-drop-menus{ 
            div{ 
                p{
                    display: none;
                }
            }   
        }
    
     
    }
    
}